# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# build cache
/.next/
/out/

# misc
/.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# genkit state
.genkit-state.json

# Large files and media
*.log
*.zip
*.tar
*.gz
*.7z
*.rar
*.mp4
*.mov
*.avi
*.wmv
*.mp3
*.wav
*.aiff
*.iso
*.dmg
*.bin
*.pdf
*.psd
